
  <section class=" text-gray-600 body-font overflow-hidden">
    <div class=" px-12 py-24 mx-auto min-h-screen">
      <div class="lg:w-4/5 mx-auto flex flex-wrap ">
        <app-sudoku-field class="h-64object-cover object-center rounded lg:w-1/2 w-full lg:h-auto"></app-sudoku-field>
        <div class="lg:w-1/2  w-full lg:pl-10 lg:py-32 mt-6 lg:mt-0">
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">SUDOKU</h1>
          <div class="p-2">
            <button (click)="onValidate()" type="button" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-none text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Check</button>
          </div>
          <div class="p-2">
            <button (click)="onGenerate()" type="button" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-none text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Generate</button>
          </div>
          <div class="p-2">
            <button (click)="fillSudokuGrid()" type="button" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-none text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Fill grid</button>
          </div>
          <div class="p-2">
            <button (click)="emptySudokuGrid()" type="button" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-none text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Empty grid</button>
          </div>
          <p>
          </p>
        </div>
      </div>
    </div>
    <div class="w-screen h-screen absolute top-0 left-0 bg-white/50" *ngIf="resultMessage.length > 0">
          <div class="flex w-full h-full justify-center items-center ">
            <div class="leading-relaxed bg-white shadow rounded w-1/2 py-3 text-center border-gray-500 border-4">
              <div class="flex flex-col px-5">
                  <div class="py-12 text-xl">{{resultMessage}}</div>
                   <button (click)="closeMessageResponseModal()" type="button" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-none text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Close</button>
              </div>
            </div>
          </div>
    </div>
  </section>