/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "sudoku";
    src: url('assets/fonts/Sudoku.ttf');
}

.sudoku-title{
    font-family: sudoku;
}