<section class=" w-full h-full border-4 border-gray-300 bg-gray-200">
    <div class="w-full h-full">
        <section class="grid grid-cols-3 gap-1 w-full h-full border-4 border-gray-500 p-0.5 bg-gray-300">
            <div class="grid grid-cols-3 gap-1 w-full h-full  border-2 border-gray-500  bg-gray-300"
                *ngFor="let row of board; let rownIdex = index">
                <div class=" w-full h-full border-3 border-gray-400 bg-white"
                    *ngFor="let col of row; let colIndex = index">
                    <input pattern="[1-9]" [ngClass]="{'bg-gray-300': isInputDisabled(rownIdex, colIndex)}"
                        [disabled]="isInputDisabled(rownIdex, colIndex)" name="n-{{rownIdex}}-{{colIndex}}"
                        id="id-{{rownIdex}}-{{colIndex}}" type="text"
                        class="w-full h-full focus:bg-green-100  focus:ring-gray-500"
                        (input)="onModelChange($event, rownIdex, colIndex)" maxlength="1"
                        oninput="this.value = this.value.replace(/[^1-9]/g, '');" [ngModel]="board[rownIdex][colIndex] != 0 ? board[rownIdex][colIndex]:''" >
                </div>
            </div>
        </section>
    </div>
</section>